<div class="app">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>Yoga app</span>
    @if ($isLogged() | async) {
      <div>
        <span routerLink="sessions" class="link">Sessions</span>
        <span routerLink="me" class="link">Account</span>
        <span (click)="logout()" class="link">Logout</span>
      </div>
    } @else {
      <div>
        <a  routerLink="/login" routerLinkActive="active" class="link">Login</a>
        <a routerLink="/register" routerLinkActive="active" class="link">Register</a>
      </div>
    }
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
